body{
    width: 1080px;
    height: auto;
    margin: 0 auto;
    alignment: center;
    text-align: center;
}

.divModel{
    width: 1080px;
    height: auto;
    margin: 0 auto;
    text-align: left;
}

p{
    font-size: 20px;
    color:white;
    text-indent:2em
}

a{

    margin: 30px 30px 30px 30px;
}

button{
    background-image: url("../images/button1.jpg");
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 25px;
}
.divbutton{
    width: 1070px;
    height: auto;
    margin: 0 auto;
    border: white solid 5px;
    border-radius: 10px;
    text-align: left;
}

.top{
    width: 1080px;
    height: 90px;
    margin: 0 auto;
    alignment: center;
    text-align: center;
}


.banner{
    background: lightgreen;
    height: 57px;
}

.banner .mystyle{
    align-content: center;
    margin: 0 auto;
}

.banner .fisrt{
    width: 1020px;
    float: left;
}

.banner .myinput{
    height: 34px;
    margin-top: 8px;
}

.mycomment{
    height: 20px;
    padding: 10px;
    border: 1px solid;
}

.mycomment span{
    width: auto;
    padding-right: 80px;
    text-align: center;
}

a:link{                        /*鼠标未接触*/
    color: deeppink;
    text-decoration: none;
}


a:hover{                      /*鼠标在接触*/
    color: white;
    background: red;
}


a:active{                    /*鼠标按下*/
    color: black;
    background: white;
}


a:visited{

}
